# Ignore Android build files
/build/
/.idea/
/.gradle/
/local.properties

# Ignore MacOS junk
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore APK/outputs
outputs/
captures/

# Ignore IntelliJ
*.iml

# Others
*.apk
